.navbar-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #ECF0F1;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  position: relative;
}

.navbar {
  border-radius: 25px;
  background-color: #2C3E50;
  height: 85px;
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-item {
  font-size: 1.8rem;
  color: #fff;
  padding-right: .4rem;
  padding-top: 5px;
  align-self: center;
  text-align: center;
  flex: 0 0 8%;
  max-width: 8%;
}

.navbar-item-hover {
  text-decoration: none;
  position: relative;
}

.navbar-item-hover::after {
  content: '';
  position: absolute;
  left: 10%;
  bottom: -8px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.navbar-item-hover:hover::after {
  width: 70%;
}

.navbar-text1,
.navbar-text {
  font-size: 1.9rem;
  color: #fff;
  align-self: center;
  text-align: center;
  flex: 0 0 15%;
  max-width: 15%;
}

.navbar-text {
  padding-right: 3.1rem;
}

.navbar-text1 {
  padding-right: 0.8rem;
}

.content {
  height: 2000px;
  background-color: #f9f9f9;
}

.link-deco {
  text-decoration: none;
  color: white;
}

.link-deco-black {
  text-decoration: none;
  color: black;
}